#header {
	background: rgb(255 255 255 / 20%);
	backdrop-filter: blur(1px); 
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
	height: 55px;
}
#lm {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 260px 1fr;
	max-width: 1050px;
}
#logo {
	height: 55px;
	width: auto;
}
.logo {
	width: auto;
	height: 55px;
	margin-right: 10px;
}
.logo, #pagename {
	display: inline-block;
}
#pagename {
	line-height: 55px;
    vertical-align: bottom;
}
#lau {
	text-align: right;
	vertical-align: bottom;
	line-height: 55px;
	margin-right: 5px;
}